hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
ipam:
  mode: "kubernetes"
routingMode: "native"
ipv4NativeRoutingCIDR: "10.0.16.0/21"
enableIpv4: true
ipMasqAgent:
  enabled: false
kubeProxyReplacement: "true"
bpf:
  masquerade: true
loadBalancer:
  acceleration: native
encryption:
  enabled: false
cgroup:
  autoMount:
    enabled: false
  hostRoot: "/sys/fs/cgroup"

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
k8sServiceHost:
  "127.0.0.1"
k8sServicePort: 7445
