name: Terraform Plan
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

env:
  TF_VAR_hcloud_token: ${{ secrets.HCLOUD_TOKEN }}
  HCLOUD_TOKEN_PRESENT: ${{ secrets.HCLOUD_TOKEN != '' }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.4
      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check
        id: fmt

      - name: Terraform Validate
        run: terraform validate -no-color
        id: validate

      - name: Terraform Apply
        if: env.HCLOUD_TOKEN_PRESENT == 'true'
        id: apply
        env:
          HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
        run: terraform apply -input=false -no-color
        continue-on-error: false
